@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Joe`s Pizza</h1>
    <img src="https://1.bp.blogspot.com/-p27RLGTNUQ0/XVzW27lELQI/AAAAAAAABxs/7-7AlC47Zk4gLz0lGeqEVuVsP_ob70rBACLcBGAs/s1600/pizza-box-mockups.jpg" / width="600" ,heigth="100">
</div>
